
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Pacifico&family=Poppins:wght@500;600;700;900&family=Righteous&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('./images/back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}